@import "../../resources/colors.scss";
@import "../../resources/animation.scss";

.menuContent {
  min-height: 650px;
  width: 100%;
  top: 0;
  background-image: url('../../assets/img/backgrounds/space-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1024px;
  // margin: 0 auto;
  .itemsContent {
    transition: all .7s;

    .menuItem {
      transition: all 1s;

      .menuInfo {
        position: absolute;
        top: 14px;
        right: 0px;
        padding: 1em;
        width: 45%;
        height: 248px;
      }
    }

    // .disabledMenu {
    //   filter: grayscale(1);
    //   pointer-events: none;
    // }
    .disabledButton {
      filter: grayscale(1);
      pointer-events: none;
      display: none;
    }

    .buttonTheme {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      .btnStyle {
        background-color: rgba(251, 251, 251, 0);
        border: 1px solid $color4;
        padding: 0.25rem 1rem;
        border-radius: 50px;
        transition: all .4s;
        &:hover {
          border: 1px solid $color4;
          background-color: rgba(255, 255, 255, 1);
          h3 {
            color: $color2;
          }
        }
      }
    }

    #btnBoxUnit-1 {
      background-image: url('../../assets/img/backgrounds/btnUnit-1.png');
      width: 370px;
      height: 370px;
    }

    #btnBoxUnit-2 {
      background-image: url('../../assets/img/backgrounds/btnUnit-2.png');
      width: 400px;
      height: 400px;
    }

    #btnBoxUnit-3 {
      background-image: url('../../assets/img/backgrounds/btnUnit-3.png');
      width: 350px;
      height: 350px;
    }
  }

  .scrollMenu {
    position: absolute;
    left: 385px;
    bottom: 20px;
    .buttonTheme {
      background: none;
      margin-right: .5em;
      transition: all .3s;

      &:last-child {
        margin-right: 0em;
      }

      .iconButton {
        color: $color1;
        transition: all .5s;
      }

      .visited { color: $color9; }
    }

    .actived {
      .iconButton {color: $color2; font-size: 1.3em;}
    }

    .visited {
      .iconButton { color: $color9; }
    }
  }

  .bici {
    width: 225px;
  }

  .floatAstroneer-1 { animation: floatAstroneer-1 3s ease-in-out infinite; }
  .bikeMenu-1 { animation: bikeMenu-1 2s ease-in-out both; }
  .bikeMenu-2 { animation: bikeMenu-2 2s ease-in-out both; }
  .bikeMenu-3 { animation: bikeMenu-3 2s ease-in-out both; }

  .bikeMenuStatic-1 { animation: bikeMenu-4 3s ease-in-out infinite; }
  .bikeMenuStatic-2 { animation: bikeMenu-5 3s ease-in-out infinite; }
  .bikeMenuStatic-3 { animation: bikeMenu-6 3s ease-in-out infinite; }
}

// ANIMACIONES PARA LA BICICLETA DEL MENU

@keyframes floatAstroneer-1 {
	0% {
		transform: translatey(0px) rotateY(180deg);
	}
	50% {
		transform: translatey(-10px) rotateY(180deg);
	}
	100% {
		transform: translatey(0px) rotateY(180deg);
	}
}

@keyframes bikeMenu-1 {
  0% {
    transform: translate(0px, 0px) rotateY(180deg);
  }
  100% {
    transform: translate(150px, 12px) rotateY(180deg);
  }
}

@keyframes bikeMenu-2 {
  0% {
    transform: translate(150px, 12px) rotateY(180deg);
  }
  100% {
    transform: translate(0px, 290px) rotateY(180deg);
  }
}

@keyframes bikeMenu-3 {
  0% {
    transform: translate(0px, 290px) rotateY(0deg);
  }
  100% {
    transform: translate(-250px, 0px) rotateY(0deg);
  }
}

@keyframes bikeMenu-4 {
  0% {
    transform: translate(150px, 12px) rotateY(180deg);
  }
  50% {
    transform: translate(150px, 22px) rotateY(180deg);
  }
  100% {
    transform: translate(150px, 12px) rotateY(180deg);
  }
}

@keyframes bikeMenu-5 {
  0% {
    transform: translate(0px, 290px) rotateY(180deg);
  }
  50% {
    transform: translate(0px, 300px) rotateY(180deg);
  }
  100% {
    transform: translate(0px, 290px) rotateY(180deg);
  }
}

@keyframes bikeMenu-6 {
  0% {
    transform: translate(-250px, 0px) rotateY(0deg);
  }
  50% {
    transform: translate(-250px, 10px) rotateY(0deg);
  }
  100% {
    transform: translate(-250px, 0px) rotateY(0deg);
  }
}
