@import "../resources/colors";
@import "../resources/animation.scss";

.interactiveCircle3 {
  height: 375px;
  width: 94%;

  .circleItems {
    // position: absolute;s

    .circleButton {
      width: 2em;
      height: 2em;
      background-color: #fff;
      border-radius: 50%;
      color: #618DF8;
      font-size: 2em;
      transition: all .3s;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

      &:hover {
        animation: pulse2 2s infinite;
      }
    }

    .visited {
      background-color: #618DF8;
      color: #fff;
      &:hover {
        animation: pulse6 2s infinite;
      }
    }
  }

  .bgItemGlobe {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
    width: 100%;
    height: 420px;

    .itemGlobe {
      position: absolute;
      background-color: $color15;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      padding: 0.9em 2.5em 0.9em 1em;
      transition: all .3s;

      .scrollText{
        max-height: 210px;
        overflow-y: auto;
      }

      .buttonClose {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        .iconButton {
          color: red;
          font-size: 2.3em;
          transition: all .3s;
        }

        &:hover {
          .iconButton {
            color: #cf0000;
          }
        }
      }
    }

    .triang-izq {
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 12px solid $color15;
        position: absolute;
        top: 40%;
        left: -12px;
      }
    }

    .triang-der {
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid $color15;
        position: absolute;
        top: 40%;
        right: -12px;
      }
    }

    .triang-down {
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-top: 12px solid $color15;
        border-right: 12px solid transparent;
        position: absolute;
        bottom: -12px;
        left: 45%;
      }
    }

    .triang-down-2 {
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-top: 12px solid $color15;
        border-right: 12px solid transparent;
        position: absolute;
        bottom: -12px;
        left: 6%;
      }
    }

    .triang-down-3 {
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-top: 12px solid $color15;
        border-right: 12px solid transparent;
        position: absolute;
        bottom: -12px;
        left: 56%;
      }
    }

    .triang-down-4 {
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-top: 12px solid $color15;
        border-right: 12px solid transparent;
        position: absolute;
        bottom: -12px;
        left: 85%;
      }
    }

    .trian-up {
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-bottom: 12px solid $color15;
        border-right: 12px solid transparent;
        position: absolute;
        top: -12px;
        left: 45%;
      }
    }
  }
}
