@import "../resources/colors";
@import "../resources/animation.scss";

.ModalInteractive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color8, 0.8);
  z-index: 4;
  transition: all .4s;

  .bgBook {
    width: 920px;
    height: 615px;
    background-color: $color4;
  }

  .button-1 {
    width: 120px;
    border: 1px solid $color2;
    border-radius: 20px;
    background-color: $color2;
    color: $color4;
    transition: all .5s;

    &:hover {
      background-color: $color7;
      border: 1px solid $color7;
    }
  }

  .buttonSlide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: $color4;
    border-radius: 50%;
    border: 0;
    text-align: center;
    box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition: all 0.4s;

    .iconButton {
      color: $color1;
      transition: all 0.4s;
    }

    &:hover {
      background-color: $color2;
      animation: pulse5 1.5s both;
      .iconButton {
        color: $color4;
      }
    }
  }

  .buttonClose {
    position: absolute;
    top: 450px;
    left: 227px;
    background-color: rgba(0, 0, 0, 0);
    .iconButton {
      color: red;
      font-size: 2.3em;
      transition: all .3s;
    }

    &:hover {
      .iconButton {
        color: #cf0000;
      }
    }
  }

  .boxPopUp-1 {
    background-color: #618DF8;
    box-shadow: 0px 5px 22px -5px rgba(0,0,0,0.3);

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      // background: linear-gradient(90deg, rgba(103,37,95,1) 0%, rgba(235,115,37,1) 100%);
      border-left: 12px solid transparent;
      border-bottom: 12px solid #782f59;
      border-right: 12px solid transparent;
      position: absolute;
      top: -12px;
      left: 45px;
    }
  }

  @keyframes avanzar {
    0% {
      transform: rotateZ(-0deg);
      left: 0%;
    }
    100% {
      transform: rotateZ(-0deg);
      left: -50%;
    }
  }
}
